.expandable {
  position: relative;
}

.expandable:before {
  content: "\f077";
  font-family: FontAwesome;
  color: #000;
  padding-right: 10px;
  cursor: pointer;
}

.expandable[aria-expanded=true]:before {
  content: "\f078";
}
