.expandable {
  position: relative;
}

.expandable:before {
  content: "\f055";
  font-family: FontAwesome;
  color: #847f81;
  padding-right: 10px;
  cursor: pointer;
}

.expandable[aria-expanded=true]:before {
  content: "\f056";
}

.level-2 {
  padding-left: 20px;
}
