.expandable {
  position: relative;

  &:before {
    content: "\f055";
    font-family: FontAwesome;
    color: #847f81;
    padding-right: 5px;
    cursor: pointer;
  }

  &[aria-expanded=true]:before {
    content: "\f056";
  }

  &.collapsed {
    content: "\f055";
  }
}

.level-2 {
  padding-left: 20px;
}
